@{
    ViewData["Title"] = "About Raymond";
}

<div class="container">
    <img src="~/images/resumefull2019.png" alt="Resume 2019">
</div>
<hr>
<div class="container">
    <img src="~/images/resumefull20192.png" alt="Resume 2019">
</div>
<div class="container">
    
</div>