@{
    ViewData["Title"] = "About Raymond";
}

<div class="container">
        <img src="~/images/forest-background.png" alt="Forest and Fog" height="725">
</div>
<hr>
<div class="container">
    <div class="text-left">
        <h3>Summary:</h3>
    </div>
    <p>My experience is in guest relations, problem solving, and leading a team. My passion is in computer languages and building applications. I want to help a team in developing
    web-based services that help consumers improve their lives.</p>
    <div class="text-left">
        <h3>SKills:</h3>
    </div>
    <div class="text-left">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td>HTML</td>
                    <td>CSS</td>                    
                    <td>JavaScript</td>                    
                    <td>Bootstrap</td>
                </tr>
                <tr>
                    <td>Python</td>                    
                    <td>Flask</td>                    
                    <td>Django</td>                    
                    <td>MVC ASP.NetCore</td>
                </tr>
                <tr>
                    <td></td>
                    <td>MySQL</td>                    
                    <td>AWS</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-left">
        <h3>Accomplishments:</h3>
        <h4>Teamwork</h4>
    </div>
    <p>Led team to improve business profits and guest relations with team support of guest first approach. Increased sales by 20% over previous year and won beat the Boss contest for the district.</p>
    <div class="text-left">
        <h3>Education:</h3>
    </div>
    <ul>
        <li><a>Coding Dojo</a> Seattle, Wa.</li>
        <p>Certificate October 2018</p>
        <li><a>University of Phoenix</a> San Jose, Ca.</li>
        <p>Business Management, BS 2013</p>
    </ul>
</div>
<div class="container">
    
</div>