@{
    ViewData["Title"] = "Apps page";
}

<div class="container">
    <div class="card" style="width: 18rem;">
        <img src="~/images/Registure.jpg" class="card-img-top" alt="Quate App">
        <div class="card-body">
            <h5 class="card-title">Quote Board</h5>
            <p class="card-text">The web app used Python/Django with MySql for the backend, and Html/Boostrap on the frontend. It is hosted with AWS services. The app is a posting board for users to post and fallow favorite posts.</p>
            <a href="http://54.202.88.110/" class="btn btn-primary">Check It Out</a>
        </div>
    </div>
</div>